<!DOCTYPE html>
<html data-ng-app='CustomStickerApp'>
  <head>
    <meta charset="utf-8">
    <title>Custom Sticker App</title>
    <link href='css/desktop-style.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Tangerine|Oswald|Exo+2|Open+Sans' rel='stylesheet' type='text/css'>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js'></script>
    <script src='js/CustomStickerApp.js'></script>
  </head>
  <body data-ng-controller='CustomStickerController'>
      <div class="left-div">
        <div class="heading-div">Customize</div>

        <ul class="details-ul">

          <!-- STICKER TEXT -->
          <li class="details-li"><input type="text" autofocus placeholder="Sticker Text" class="details" data-ng-model="stickerText"/></li>

          <!--STICKER TEXT FONT-->
          <li class="details-li">
            <ul class="chooser-ul">
              <li class="font-li fontA" data-ng-model='fontA' data-ng-click="changeFontFamily('A')">Aa</li>
              <li class="font-li fontB" data-ng-model='fontB' data-ng-click="changeFontFamily('B')">Aa</li>
              <li class="font-li fontC" data-ng-model='fontC' data-ng-click="changeFontFamily('C')">Aa</li>
              <li class="font-li fontD" data-ng-model='fontD' data-ng-click="changeFontFamily('D')">Aa</li>
            </ul>
          </li>

          <!-- TEXT COLOR -->
          <li class="details-li">
            <ul class="chooser-ul">
              <li class="propertyHeading">Text Color</li>
              <li class="chooser-li black" data-ng-click="changeFontColor('black')"></li>
              <li class="chooser-li white" data-ng-click="changeFontColor('white')"></li>
              <li class="chooser-li blue" data-ng-click="changeFontColor('blue')"></li>
              <li class="chooser-li green" data-ng-click="changeFontColor('green')"></li>
              <li class="chooser-li orange" data-ng-click="changeFontColor('orange')"></li>
              <li class="chooser-li red" data-ng-click="changeFontColor('red')"></li>
            </ul>
          </li>

          <!-- STICKER BACKGROUND -->
          <li class="details-li">
            <ul class="chooser-ul">
              <li class="propertyHeading">Sticker Background</li>
              <li class="chooser-li black" data-ng-click="changeBackground('black')"></li>
              <li class="chooser-li white" data-ng-click="changeBackground('white')"></li>
              <li class="chooser-li blue" data-ng-click="changeBackground('blue')"></li>
              <li class="chooser-li green" data-ng-click="changeBackground('green')"></li>
              <li class="chooser-li orange" data-ng-click="changeBackground('orange')"></li>
              <li class="chooser-li red" data-ng-click="changeBackground('red')"></li>
              <li class="chooser-li back1" data-ng-click="changeBackground('back1')"></li>
              <li class="chooser-li back2" data-ng-click="changeBackground('back2')"></li>
              <li class="chooser-li back3" data-ng-click="changeBackground('back3')"></li>
              <li class="chooser-li back4" data-ng-click="changeBackground('back4')"></li>
            </ul>
          </li>

          <!-- TEXT SIZE -->
          <li class="propertyHeading">Text Size</li>
          <li class="details-li">
            <input type='range' min="48" max="96" step="16" class='font-range' value='48' oninput="changeFontSize(value)"/>
          </li>

          <!-- BUTTONS -->
          <li class="details-li">
            <ul class="chooser-ul">
              <li class="button-li"><input type="button" value="Place Order" class="buttons" id='placeorder'></li>
              <!--<li class="button-li"><input type="button" data-ng-click="stickerDiv={}" value="Reset"></li>-->
            </ul>
          </li>
        </ul>
      </div>

      <!-- STICKER PREVIEW -->
      <div class="right-div">
        <div class="heading-div">Preview</div>
          <div class="sticker-parent-div">
            <div class="sticker-div" data-ng-style="stickerDiv"><span data-ng-style="customText" id="sticker">{{stickerText}}</span></div>
          </div>
      </div><!-- right div ends-->
  </body>
</html>
