<!DOCTYPE html>
<html data-ng-app='CustomStickerApp'>
  <head>
    <meta charset="utf-8">
    <title>Custom Sticker App</title>
    <link href='css/desktop-style.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js'></script>
    <script src='js/CustomStickerApp.js'></script>
    <script type="text/javascript">
      function changeFontSize(vol)
      {
        vol=vol+'px';
        sticker.style.fontSize=vol;
      }
    </script>
  </head>
  <body data-ng-controller='CustomStickerController'>
      <div class="left-div">
        <div class="heading-div">Customize</div>

        <ul class="details-ul">

          <li class="details-li"><input type="text" autofocus placeholder="Sticker Text" class="details" data-ng-model="stickerText"></li>
<!--
NOT WORKING
          <li class="details-li">
            <ul class="chooser-ul">
              <li class="chooser-li" data-ng-model='fontA' data-ng-click="customText{'font-family': 'Exo 2'}">Aa</li>
              <li class="chooser-li" data-ng-model='fontB' data-ng-click="customText{'font-family': 'Exo 2'}">Aa</li>
              <li class="chooser-li" data-ng-model='fontC' data-ng-click="customText{'font-family': 'Exo 2'}">Aa</li>
              <li class="chooser-li" data-ng-model='fontD' data-ng-click="customText{'font-family': 'Exo 2'}">Aa</li>
            </ul>
          </li>
-->
          <li class="details-li">
            <ul class="chooser-ul">
              <li class="propertyHeading">Text Color</li>
              <li class="chooser-li Black" data-ng-click="customText={color: '#2e2e2e'}"></li>
              <li class="chooser-li White" data-ng-click="customText={color: '#fff'}"></li>
              <li class="chooser-li Blue" data-ng-click="customText={color: '#495ebb'}"></li>
              <li class="chooser-li Green" data-ng-click="customText={color: '#5db343'}"></li>
            </ul>
          </li>

          <li class="details-li">
            <ul class="chooser-ul">
              <li class="propertyHeading">Sticker Background</li>
              <li class="chooser-li Black" data-ng-click="stickerDiv={background: '#2e2e2e'}"></li>
              <li class="chooser-li White" data-ng-click="stickerDiv={background: '#fff'}"></li>
              <li class="chooser-li Blue" data-ng-click="stickerDiv={background: '#495ebb'}"></li>
              <li class="chooser-li Green" data-ng-click="stickerDiv={background: '#5db343'}"></li>
            </ul>
          </li>
          <li class="propertyHeading">Text Size</li>
          <li class="details-li">
            <input type='range' min="48" max="128" step="16" class='font-range' value='48' oninput="changeFontSize(value)"/>
          </li>

          <li class="details-li">
            <ul class="chooser-ul">
              <li class="button-li"><input type="button" value="Place Order" class="buttons" id='placeorder'></li>
              <!--<li class="chooser-li"><input type="button" data-ng-click="stickerDiv={}" value="Reset"></li>-->
            </ul>
          </li>

        </ul>
      </div>

      <div class="right-div">
        <div class="heading-div">Preview</div>
        <div class="sticker-parent-div">
          <div class="sticker-div" data-ng-style="stickerDiv"><span data-ng-style="customText" id='sticker'>{{stickerText}}</span></div>
        </div>
      </div><!-- right div ends-->
  </body>
</html>
